<h1>
  Alt-Coins</h1>

<a [routerLink]="['/admin/alt-coins/create']">Create Alt-Coin </a>

<table class='table table-striped' *ngIf="altCoins">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Symbol</th>
      <th>Enabled For Voting</th>
      <th>Enabled For Trading</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let altCoin of altCoins">
      <td>{{ altCoin._id }}</td>
      <td>{{ altCoin.name }}</td>
      <td>{{ altCoin.altCoinSymbol }}</td>
      <td>{{ altCoin.enableForVoting }}</td>
      <td>{{ altCoin.enableForTrading }}</td>
      <td>
        <a [routerLink]="['/admin/alt-coins/edit/', altCoin.altCoinSymbol]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>

<br>
<br>


