<h2>User Summary </h2>


<table class='table table-striped' *ngIf="userSummaries" style="text-align: center;">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Coin Symbol</th>
      <th>Total Coins With CGCX</th>
      <th>Used For Voting</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userSummaries">
      <td>{{ user.userFullName }}</td>
      <td>{{ user.altCoinSymbol }}</td>
      <td>{{ user.totalCoinsWithCGCX }}</td>
      <td>{{ user.usedForVoting }}</td>
    </tr>
  </tbody>
</table>
